[Unit]
Description=Ripardo Water Flow Python Service
After=network.target

[Service]
Type=forking
User=pi
Restart=always
WorkingDirectory=/home/pi/rwf
ExecStart=start_service.sh
EnvironmentFile=../rwf.env
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rwf

[Install]
WantedBy=multi-user.target