[Unit]
Description=Ripardo Water Flow Python Service
After=network.target

[Service]
User=pi
ExecStart=/home/pi/rwf/start_service.sh
EnvironmentFile=/home/pi/rwf.env
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rwf

[Install]
WantedBy=multi-user.target